{% extends "layout.html" %}

{% block body %}
<script>
  var tab = "cust"
</script>
{% if num != 0 %}
  <form method="POST" action="{{ url_for('customer_save', number=num) }}">
{% else %}
  <form method="POST" action="{{ url_for('customer_create') }}">
{% endif %}
    <table>
      <tr>
        <td style="vertical-align:baseline">{{ form.name.label }}</td>
        <td style="vertical-align:baseline">{{ form.name }}</td>
        <td style="vertical-align:baseline">
          {{ errorlst(form.name.errors) }}
	      </td>
      </tr>
      <tr>
        <td valign="top">{{ form.address.label }}</td>
        <td>
          {{ form.address }}
        </td>
        <td style="vertical-align:baseline">
          {{ errorlst(form.address.errors) }}
	      </td>
      </tr>
      <tr>
        <td>
          {% if delete %}
          <a class="btn btn-outline-danger" role="button"
            href="{{ url_for('customer_delete', number=num) }}">
            Delete
          </a>
          {% endif %}
        </td>
        <td align="right" class="pt-3">
          <input class="btn btn-outline-primary" type="submit" value="Save" />
          <a class="btn btn-outline-secondary" type="button" href="{{ url_for('customers_index') }}">Cancel</a>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}