{% extends "layout.html" %}

{% block body %}
<script>
  var tab = "cust"
</script>
{% if customer.number != 0 %}
<form method="POST" action="{{ url_for('customer_save', number=customer.number) }}">
  {% else %}
  <form method="POST" action="{{ url_for('customer_create') }}">
    {% endif %}
    <table>
      <tr>
        <td>Name:</td>
        <td><input type="text" name="name" value="{{ customer.name }}" /></td>
      </tr>
      <tr>
        <td valign="top">Address:</td>
        <td>
          <textarea name="address" cols="40" rows="5">{{ customer.address }}</textarea>
        </td>
      </tr>
      <tr>
        <td>
          {% if customer.number != 0 %}
          <a class="btn btn-outline-danger" role="button"
            href="{{ url_for('customer_delete', number=customer.number) }}">
            Delete
          </a>
          {% endif %}
        </td>
        <td align="right">
          <input class="btn btn-outline-primary" type="submit" value="Save" />
          <input class="btn btn-outline-secondary" type="button" value="Cancel" onClick="window.history.back()" />
        </td>
      </tr>
    </table>
  </form>
  {% endblock %}