{% extends "layout.html" %}

{% block body %}
<script>
  var tab = "inv"
</script>
{% if num != 0 %}
<form method="POST" action="{{ url_for('invoice_save', number=num) }}">
  {% else %}
  <form method="POST" action="{{ url_for('invoice_create') }}">
{% endif %}
    <table>
      <tr>
        <td style="vertical-align:baseline">{{ form.customer.label }}</td>
        <td style="vertical-align:baseline">{{ form.customer(class_='form-control') }}</td>
        <td style="vertical-align:baseline">
          <ul>
            {% for error in form.customer.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>
    <div data-toggle="fieldset" id="rows-fieldset" class="form-group">
      <table class="ui table" width="10%">
        <thead>
          <th>Product</th>
          <th width="10%">Quantity</th>
        </thead>
        <tbody>
          {% for r in form.rows %}
          <tr data-toggle="fieldset-entry">
            <td>{{ r.product(class_='form-control') }}</td>
            <td>{{ r.qty(class_='form-control') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <table width="100%">
      <tr>
        <td>
          {% if num != 0 %}
          <a class="btn btn-outline-danger" role="button" href="{{ url_for('invoice_delete', number=num) }}">
            Delete
          </a>
          {% endif %}
        </td>
        <td align="right">
          <input class="btn btn-outline-primary" type="submit" value="Save" />
          <a class="btn btn-outline-secondary" type="button" href="{{ url_for('invoices_index') }}">Cancel</a>
        </td>
      </tr>
    </table>
  </form>
  {% endblock %}