{% extends "layout.html" %}

{% block body %}
<script>
  var tab = "inv"
</script>
    <table width="100%" class="mt-3">
      <tr>
        <td rowspan="3" width="50%"><h1>Firma.fi</h1></td>
        <td><b>Invoice</b></td>
        <td></td>
      </tr>
      <tr>
        <td width="1%">Invoice</td>
        <td>#{{ inv.number }}</td>
      </tr>
      <tr>
        <td width="1%" >Date</td>
        <td>{{ inv.date_modified|datetime }}</td>
      </tr>
      <tr>
      <td class="pt-3">{{ inv.customer.name }}</td>
      </tr>
    </tr>
      <tr>
      <td style="white-space: pre-wrap;">{{ inv.customer.address }}</td>
      </tr>
    </table>
    <table width="100%" class="mt-5">
    <thead>
      <th>Product</th>
      <th style="text-align: right">Price</th>
      <th style="text-align: right">Qty</th>
      <th style="text-align: right">Unit</th>
      <th style="text-align: right">Total</th>
   </thead>
    <tbody>
    {% for row in inv.rows %}
      <tr>
      <td>{{ row.product.name }}</td>
      <td style="text-align: right">{{ row.product.price|decimal }}€</td>
      <td style="text-align: right">{{ row.qty }}</td>
      <td style="text-align: right">{{ row.product.unit }}</td>
      <td style="text-align: right">{{ (row.qty*row.product.price)|decimal }}€</td>
      </tr>
    {% endfor %}
    <tr>
    <td colspan="4" style="text-align: right"><b>Total:</b></td>
    <td style="text-align: right"><b>{{ tot|decimal }}€</b></td>
    </tr>
    </tbody>
    </table>
    <a class="btn btn-outline-secondary mt-3" role="button" href="{{ url_for('invoices_index') }}">
        Close
    </a>
  {% endblock %}