{% extends "layout.html" %}

{% block body %}
<script>
  var tab = "prod"
</script>
{% if num != 0 %}
<form method="POST" action="{{ url_for('product_save', number=num) }}">
{% else %}
<form method="POST" action="{{ url_for('product_create') }}">
{% endif %}
    <table>
      <tr>
        <td style="vertical-align:baseline">{{ form.name.label }}</td>
        <td style="vertical-align:baseline">{{ form.name }}</td>
        <td style="vertical-align:baseline">
          {{ errorlst(form.name.errors) }}
        </td>
      </tr>
      <tr>
        <td style="vertical-align:baseline">{{ form.unit.label }}</td>
        <td style="vertical-align:baseline">{{ form.unit }}</td>
        <td style="vertical-align:baseline">
          {{ errorlst(form.unit.errors) }}
        </td>
      </tr>
      <tr>
        <td style="vertical-align:baseline">{{ form.price.label }}</td>
        <td style="vertical-align:baseline">{{ form.price }}</td>
        <td style="vertical-align:baseline">
          {{ errorlst(form.price.errors) }}
        </td>
      </tr>
      <tr>
        <td style="vertical-align:baseline">{{ form.category.label }}</td>
        <td style="vertical-align:baseline">{{ form.category(class_='form-control') }}</td>
        <td style="vertical-align:baseline">
          {{ errorlst(form.category.errors) }}
        </td>
      </tr>
      <tr>
        <td>
          {% if delete %}
          <a class="btn btn-outline-danger" role="button" href="{{ url_for('product_delete', number=num) }}">
            Delete
          </a>
          {% endif %}
        </td>
        <td align="right" class="pt-3">
          <input class="btn btn-outline-primary" type="submit" value="Save" />
          <a class="btn btn-outline-secondary" type="button" href="{{ url_for('products_index') }}">Cancel</a>
        </td>
      </tr>
    </table>
  </form>
{% endblock %}