{% extends "layout.html" %}

{% block body %}
<div class="text-danger">{{ error }}</div>
<form method="POST" action="{{ url_for(action) }}">
  <table>
    <tr>
      <td style="vertical-align:baseline">
        {{ form.username.label }}
      </td>
      <td style="vertical-align:baseline">
        {{ form.username }}
      </td>
      <td style="vertical-align:baseline">
        {{ errorlst(form.username.errors) }}
      </td>
    </tr>
    <tr>
      <td style="vertical-align:baseline">
        {{ form.password.label }}
      </td>
      <td style="vertical-align:baseline">
        {{ form.password }}
      </td>
      <td style="vertical-align:baseline">
        {{ errorlst(form.password.errors) }}
      </td>
    </tr>
    <tr>
      <td style="vertical-align:baseline" colspan="2" align="right">
        <input class="btn btn-outline-primary" type="submit" value="{{ button }}" />
        <a class="btn btn-outline-secondary" type="button" href="{{ url_for('products_index') }}">Cancel</a>
      </td>
    </tr>
</form>
{% endblock %}