{% extends "layout.html" %}

{% block body %}
<div class="text-danger"></div>{{ error }}</div>
<form method="POST" action="{{ url_for(action) }}">
  <table>
    <tr>
      <td>
	      {{ form.username.label }}
      </td>
      <td>
	      {{ form.username }}
      </td>
      <td>
        <ul>
          {% for error in form.username.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
	      {{ form.password.label }}
      </td>
      <td>
	      {{ form.password }}
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <input class="btn btn-outline-primary" type="submit" value="{{ button }}"/>
        <a class="btn btn-outline-secondary" type="button" href="{{ url_for('products_index') }}">Cancel</a>
      </td>
    </tr>
</form>
{% endblock %}